In [2]:
!pip install numpy as np

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (1.18.4)
Requirement already satisfied: as in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (0.1)
Requirement already satisfied: np in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (1.0.2)

WARNING: You are using pip version 20.0.2; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

In [3]:
!pip install pandas as pd

Collecting pandas
  Downloading pandas-1.1.1-cp37-cp37m-win32.whl (8.1 MB)
Requirement already satisfied: as in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (0.1)
Collecting pd
  Downloading pd-0.0.1.tar.gz (5.3 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (1.18.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python37-32\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: pandas, pd
    Running setup.py install for pd: started
    Running setup.py install for pd: finished with status 'done'
Successfully installed pandas-1.1.1 pd-0.0.1

WARNING: You are using pip version 20.0.2; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\users\hp\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

In [4]:
import numpy as np
import pandas as pd
#%matplotlib notebook
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [7]:
df = pd.read_csv (r'downloads\salaries.csv')
print (df)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC   77916.00
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134401.60
...                                                ...        ...
148649                                       Custodian       0.00
148650                                    Not provided        NaN
148651                                    Not provided        NaN
148652                                    Not provided        NaN
148653                      Counselor, Log Cabin Ranch       0.00

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0              0.00  400184.25       NaN  567595.43         567595.43  2011
1         245131.88  137811.38       NaN  538909.28         538909.28  2011
2         106088.18   16452.60       NaN  335279.91         335279.91  2011
3          56120.71  198306.90       NaN  332343.61         332343.61  2011
4           9737.00  182234.59       NaN  326373.19         326373.19  2011
...             ...        ...       ...        ...               ...   ...
148649         0.00       0.00       0.0       0.00              0.00  2014
148650          NaN        NaN       NaN       0.00              0.00  2014
148651          NaN        NaN       NaN       0.00              0.00  2014
148652          NaN        NaN       NaN       0.00              0.00  2014
148653         0.00    -618.13       0.0    -618.13           -618.13  2014

        Notes         Agency  Status
0         NaN  San Francisco     NaN
1         NaN  San Francisco     NaN
2         NaN  San Francisco     NaN
3         NaN  San Francisco     NaN
4         NaN  San Francisco     NaN
...       ...            ...     ...
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

[148654 rows x 13 columns]

In [11]:
df.columns #to get column names

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [10]:
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 148654
Number of Columns: 13

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 13.0+ MB

In [14]:
df.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [32]:
#nan values per column
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [30]:
df.dropna()

Empty DataFrame
Columns: [Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Notes, Agency, Status]
Index: []

In [47]:
df.nunique(dropna=True)

Id                  148654
EmployeeName        110811
JobTitle              2159
BasePay             109489
OvertimePay          65998
OtherPay             83225
Benefits             98465
TotalPay            138486
TotalPayBenefits    142098
Year                     4
Notes                    0
Agency                   1
Status                   0
dtype: int64

In [53]:
df.Year.nunique()

4

In [56]:
df.TotalPay.mean()

74768.32197169267

In [59]:
df.TotalPay.min()

-618.13

In [67]:
df[df['OvertimePay']==0].count()

Id                  77321
EmployeeName        77321
JobTitle            77321
BasePay             76720
OvertimePay         77321
OtherPay            77321
Benefits            58342
TotalPay            77321
TotalPayBenefits    77321
Year                77321
Notes                   0
Agency              77321
Status                  0
dtype: int64

In [68]:
df[df['OvertimePay']==0]['TotalPay'].describe()

count     77321.000000
mean      60229.348901
std       49307.912350
min        -618.130000
25%       13290.450000
50%       58158.590000
75%       91115.090000
max      567595.430000
Name: TotalPay, dtype: float64

In [69]:
df[df['TotalPay']==df['TotalPay'].max()]['Id']

0    1
Name: Id, dtype: int64

In [70]:
df[df['TotalPayBenefits']==87619.78]['EmployeeName']

12345    REBECCA CHIU
Name: EmployeeName, dtype: object

In [71]:
df[(df['BasePay']>150000) & (df['OvertimePay']>100000)]['EmployeeName'].count()

12

In [76]:
df.groupby('JobTitle')['TotalPayBenefits'].mean().sort_values(ascending=False)

JobTitle
Chief Investment Officer                          436224.360000
Chief of Police                                   411732.266667
Chief, Fire Department                            408865.326667
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY    399211.275000
Gen Mgr, Public Trnsp Dept                        380696.440000
                                                      ...
BOARD/COMMISSION MEMBER, GROUP III                   638.787879
BdComm Mbr, Grp2,M=$25/Mtg                           475.047742
BOARD/COMMISSION MEMBER, GROUP II                    296.511628
PUBLIC SAFETY COMMUNICATIONS TECHNICIAN              149.510000
Not provided                                           0.000000
Name: TotalPayBenefits, Length: 2159, dtype: float64

In [75]:
df[df['JobTitle'].str.contains('POLICE')]['Id'].count()
# .str.contains()

2512